/*
  transform:;
  -ms-transform:; /* Internet Explorer
  -moz-transform:; /* Firefox
  -webkit-transform:; /* Safari 和 Chrome
  -o-transform:; /* Opera
*/

html,body{
  margin:0px;
  height:100%;
  background-color: #E7E7C4
}
#container{
  width:1080px;
  height:700px;
  margin:auto;
  background-color: #D4E0E7;
  position: absolute;
  left:15%;
  box-shadow: -6px 0px 10px #AAAAAA,
              6px 0px 10px #AAAAAA;
}
.card{
  width:500px;
  height:8%;
  margin:1% auto;
  -webkit-transition:all .3s;
  -webkit-perspective:600;
  position:relative;
}
.face{
  width:100%;
  height:100%;
  position:absolute;
  border-radius: 10px;
  line-height: 55px;
  text-shadow: -3px 3px 5px #888888;
  text-align:center;
  font-size: 25px;
  font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei;
  -webkit-transition:all .5s;
  -webkit-backface-visibility:hidden;
}
.top{
  border: 2px solid #998877;
  background-color: #D0E6D8;
  color: #666666;
  z-index: 8;
}
.bottom{
  position:relative;
  border: 2px solid #AA2222;
  background-color: #FFFFFF;
  color: #000000;
  z-index: 7;
  -webkit-transform:rotateX(-180deg);
}
.flipped .face{
  border-radius: 50px;
}
.flipped .top{
  z-index:7;
  -webkit-transform:rotateX(180deg);
}
.flipped .bottom{
  -webkit-transform:rotateX(0deg);
  z-index: 8;
}
.flipped{
  width:900px;
  -webkit-transition:all .5s;
}
.card:hover{
  width:1028px;
}
.face:hover{
  color: #442222;
  border-radius: 25px;
  background-color: #F0F9FF;
}
.flipped:hover{
  width:700px;
}
.extra{
  overflow: hidden;
  -webkit-transition:all .3s;
  position:absolute;
  top:0;
  left:10%;
  background-color: #D69F9F;
  border-radius: 10px;
  border: 2px solid #FFFFFF;
  width:80%;
  height:10px;
  margin:0 auto;
  z-index:100;
}
.extra:hover{
  border: 3px solid #222222;
  border-radius: 50px;
  background-color: #CCEEDD;
  top:3px;
  width:120%;
  left:-10%;
  height:300px;
  margin:0 auto;
  z-index:100;
}
table{
  margin:30px;
  position: relative;
  top:300px;
  -webkit-transition: all .7s;
}
.extra:hover table{
  top:-30px;
}
