/*
  transform:rotateX(0deg);
  -ms-transform:rotateX(0deg); /* Internet Explorer
  -moz-transform:rotateX(0deg); /* Firefox
  -webkit-transform:rotateX(0deg); /* Safari 和 Chrome
  -o-transform:rotateX(0deg); /* Opera
*/

html,body{
  margin:0px;
  height:100%;
  background-color: #E7E7C4
}
#container{
  width:1080px;
  height:700px;
  margin:auto;
  background-color: #D4E0E7;
  position: absolute;
  left:15%;
  box-shadow: -6px 0px 10px #AAAAAA,
              6px 0px 10px #AAAAAA;
}
.card{
  width:400px;
  height:8%;
  margin:1% auto;
  -webkit-transition:all .3s;
  -webkit-perspective:600;
}
.face{
  width:100%;
  height:100%;
  position:absolute;
  border-radius: 10px;
  line-height: 55px;
  text-shadow: -3px 3px 5px #888888;
  text-align:center;
  font-size: 25px;
  font-family:Arial,'Times New Roman','Microsoft YaHei',SimHei;
  -webkit-transition:all .5s;
  -webkit-backface-visibility:hidden;
}
.top{
  border: 2px solid #998877;
  background-color: #D0E6D8;
  color: #666666;
  z-index: 8;
}
.bottom{
  border: 2px solid #AA2222;
  background-color: #FFFFFF;
  color: #000000;
  z-index: 7;
  -webkit-transform:rotateX(-180deg);
}
.flipped .face{
  border-radius: 50px;
}
.flipped .top{
  z-index:7;
  -webkit-transform:rotateX(180deg);
}
.flipped .bottom{
  -webkit-transform:rotateX(0deg);
  z-index: 8;
}
.flipped{
  width:900px;
  -webkit-transition:all .5s;
}
.card:hover{
  width:1028px;
}
.face:hover{
  color: #442222;
  border-radius: 25px;
  background-color: #F4FCFF;
}
.flipped:hover{
  width:700px;
}
